md-sidenav-container {
  background: gainsboro;
  height: 100vh;
}

md-card {
  background: white;
  margin: 0 16px;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
